.signup{
    background: #3b3939;
    color: #ffff;
    height: max-content;
    width: max-content;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px ;
}
